<div class="loginModal">
  <div><h1>Login</h1></div>
  <form #formid="ngForm" autocomplete="on" (ngSubmit)="onSubmit(formid.value)">
    <div>
    <mat-form-field>
      <input autofocus name="username" [(ngModel)]="username" matInput placeholder="Username">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input name="password" [(ngModel)]="password" matInput placeholder="Password">
    </mat-form-field></div>
    <button type="submit" mat-flat-button color="primary" mat-dialog-submit>Submit</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </form>
  
  
</div>