.displaynav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:  'h a c p';
    justify-items: center;
    background-color: black;
    color: white;
    padding : 30px;
}

.displaynav > a {
    text-decoration:none;
    color:white;
}

.navHome{
    grid-area: 'h';
}

.navAbout{
    grid-area: 'a';
}

.navLogin{
    grid-area: 'c';
}

navProfile{
    grid-area: 'p';
}